html {
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    background-color: #FFEAEA;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

/* Flourish Deco + Title */

h1 {
    margin:0;
    color: #000000;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100%;
}

.photo-1 {
    display: block;
    margin: 0 auto;
    height: 280px;
    margin-top: 28px;
  }

.line-1 {
        background: #343434;
        height: 1px;
        width: 400px;
}

.deco-half {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.heart {
    width: 28px;
}


.deco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.rings {
    width: 28px;
}

#flourish {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#couple {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.deco-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.rings-2 {
    width: 16px;
}

.line-2 {
    background: #343434;
    height: 1px;
    width: 270px;
}

#deco-timer {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.timer {
    margin:0;
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}

.timer-label {
    margin:0;
    color: #343434;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

#invitation {
    display: flex;
    justify-content: space-between;
}

#invite-date {
    max-width: 572px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: normal;
    margin: 0 auto;
}

.invite {
    font-size: 14px;
    font-weight: 500;
    color:#343434;
    text-transform: uppercase;
    margin: 0;
}

sup {
    font-size: 10px;
}

h2 {
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
}

.photo-2 {
    height: 280px;
  }

#schedule {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 572px;
    gap: 28px;
}

#events-couple {
    display: flex;
    justify-content: space-between;   
}

#events-container {
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: space-between;
}

.event-individual {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.event {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.location {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.event-name {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.time {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #343434;
}

.location a {
    font-size: 14px;
    color: #000000;
    font-style: italic;
    text-transform: capitalize;
    font-weight: 300;
}
.tag {
    width: 14px;
}

#dress-code {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 572px;
    gap: 28px;
}

#dress {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#colors {
    display: flex;
    gap: 28px;
}

.square {
    width: 28px;
    height: 28px;
}

.sentence {
    margin: 0;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}

#attendance {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 572px;
    gap: 45px;
}

#column {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
}

.input-container {
    position: relative;
    display: flex;
    flex:1;
}

.radio-wrapper {
    display: flex;
    gap: 8px;
}


.radio-wrapper input[type="radio"] {
    display: none;
}

.radio-wrapper .checkmark {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #343434;
    background-color: transparent;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.radio-wrapper input[type="radio"]:checked + .checkmark {
    background-color: #343434;
    border-color: #343434;
}


.radio-wrapper label {
    display: flex;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #000000;
    cursor: pointer;
    align-items: center;
}



.input-container input {
    width: 100%;
    padding: 14px 8px;
    background-color: transparent;
    border: 1px solid #343434;
    border-radius: 4px;
}

.input-container input:focus {
    border: 1px solid #000000;
}

#all-inputs {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.input-container input:focus::placeholder {
    color: transparent;
}

.input-container label {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: 0%;
    left: 8px;
    font-size: 10px;
    background-color: #FFEAEA;
}

.feather-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(images/quill.svg) no-repeat center;
    background-size: contain;
    pointer-events: none;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}
    

button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #343434;
    width: 160px;
    padding: 16px 8px;
    border-radius: 8px;
    border: none;
    align-self: center;
}

footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 16px;
    color: #000000;
    font-weight: 200;
}