:root {
    /*colors*/
    --background-color: #FFEAEA;
    --black-color: #000000;
    --jet-black: #343434;
    /*fonts*/
    --font-family: "Hanken Grotesk", sans-serif;
    --font-xxs: 10px;
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 20px;
    --font-xlg: 28px;
    /*flex gaps*/
    --gap-xxs: 4px;
    --gap-xs: 8px;
    --gap-sm: 12px;
    --gap-md: 16px;
    --gap-lg: 28px;
    --gap-xl: 32px;
    --gap-xxl: 45px;
    --gap-xxxl: 60px;
    /*section width*/
    --section-width: 572px;
}

/*utility classes*/

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gap-xxs {
    gap: var(--gap-xxs);
}

.gap-xs {
    gap: var(--gap-xs);
}

.gap-sm {
    gap: var(--gap-sm);
}

.gap-md {
    gap: var(--gap-md);
}

.gap-lg {
    gap: var(--gap-lg);
}

.gap-xl {
    gap: var(--gap-xl);
}

.gap-xxl {
    gap: var(--gap-xxl);
}

.gap-xxxl {
    gap: var(--gap-xxxl);
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.height-lg {
    height: 280px;
}

.section-width {
    width: var(--section-width);
}



/*start of body*/
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 40px 0;
}


/* Flourish Deco + Title */
h1 {
    margin:0;
    color: var(--black-color);
    font-size: var(--font-xlg);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100%;
}

.photo-1 {
    align-self: center;
  }

.line-1 {
    background: var(--jet-black);
    height: 1px;
    width: 400px;
}

.heart {
    width: 28px;
    animation: scale-heart 2s infinite;
}

/* heartbeat animation */
@keyframes scale-heart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
    
}

.rings {
    width: 28px;
}

.rings-2 {
    width: 16px;
}

.line-2 {
    background: var(--jet-black);
    height: 1px;
    width: 270px;
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.timer {
    margin:0;
    color: var(--black-color);
    font-size: var(--font-xlg);
    font-weight: 700;
    line-height: normal;
}

.timer-label {
    margin:0;
    color: var(--jet-black);
    font-size: var(--font-sm);
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.invite {
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--jet-black);
    text-transform: uppercase;
    margin: 0;
}

sup {
    font-size: var(--font-xxs);
}

h2 {
    font-size: var(--font-lg);
    margin: 0;
    text-transform: capitalize;
}

.event-name {
    margin: 0;
    text-transform: uppercase;
    font-size: var(--font-md);
    font-weight: 600;
    color: var(--black-color);
}

.time {
    margin: 0;
    font-size: var(--font-md);
    font-weight: 600;
    color: var(--jet-black);
}

.location a {
    font-size: var(--font-sm);
    color: var(--black-color);
    font-style: italic;
    text-transform: capitalize;
    font-weight: 300;
}

.tag {
    width: 14px;
}

.square {
    width: 28px;
    height: 28px;
}

.sentence {
    margin: 0;
    font-style: italic;
    font-size: var(--font-md);
    font-weight: 400;
}

.inputs {
    width: 100%;
}

.input-container {
    position: relative;
    display: flex;
    flex:1;
}

.input-container:has(input:disabled) {
    cursor: not-allowed;
    opacity: 0.5;
}

.radio-wrapper input[type="radio"] {
    display: none;
}

.radio-wrapper .checkmark {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid var(--jet-black);
    background-color: transparent;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.radio-wrapper input[type="radio"]:checked + .checkmark {
    background-color: var(--jet-black);
    border-color: var(--jet-black);
}


.radio-wrapper label {
    display: flex;
    gap: var(--gap-xs);
    font-size: var(--font-sm);
    font-weight: 400;
    text-transform: capitalize;
    color: var(--black-color);
    cursor: pointer;
    align-items: center;
}



.input-container input {
    width: 100%;
    padding: 14px 8px;
    background-color: transparent;
    border: 1px solid var(--jet-black);
    border-radius: 4px;
}

.input-container input:focus {
    border: 1px solid var(--black-color);
}


.input-container input:focus::placeholder {
    color: transparent;
}

.input-container label {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-color);
    font-size: var(--font-xs);
    font-weight: 400;
    text-transform: uppercase;
    pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: 0%;
    left: 8px;
    font-size: var(--font-xxs);
    background-color: var(--background-color);
}

.feather-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(images/quill.svg) no-repeat center;
    background-size: contain;
    pointer-events: none;
}

.input-wrapper {
    align-items: flex-start;
}
    

button {
    font-size: var(--font-md);
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #343434;
    width: 160px;
    padding: 16px 8px;
    border-radius: 8px;
    border: none;
    align-self: center;
}

footer p {
    margin: 0;
    font-size: var(--font-md);
    color: var(--black-color);
    font-weight: 200;
}